<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body class="d-flex h-100 text-center text-bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">Cover</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link fw-bold py-1 px-5 active" aria-current="page" href="/">Home</a>
                <a class="nav-link fw-bold py-1 px-5" href="/about">О проекте</a>
                <a class="nav-link fw-bold py-1 px-5" href="#">В тех.поддержку</a>
            </nav>
        </div>
    </header>

    <main class="px-3">
        <h1>
            <p th:text="|Hello, ${mainPage}!|" />
        </h1>

        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
            <a href="/registration" class="btn btn-lg btn-secondary fw-bold border-white "bg-black>Зарегистрироваться</a>
            <a href="/signIn" class="btn btn-lg btn-secondary fw-bold border-white "bg-black>Войти</a>
        </p>

    </main>

<!--    <footer class="mt-auto text-white-50" bg-red>-->
<!--        <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>-->
<!--    </footer>-->
<!--    <main class="flex-shrink-0">-->
<!--        <div class="container">-->
<!--            <h1 class="mt-5">Sticky footer with fixed navbar</h1>-->
<!--            <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code class="small">padding-top: 60px;</code> on the <code class="small">main &gt; .container</code>.</p>-->
<!--            <p>Back to <a href="/docs/5.2/examples/sticky-footer/">the default sticky footer</a> minus the navbar.</p>-->
<!--        </div>-->
<!--    </main>-->
    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>
</div>
</body>
</html>